@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr-primary-100: 334 92% 95%;
    --clr-primary-500: 333 93% 55%;
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 0 0% 80%;
    --clr-neutral-400: 0 0% 60%;
    --clr-neutral-600: 0 0% 40%;
    --clr-neutral-800: 0 0% 20%;
    --clr-neutral-900: 0 0% 0%;

    --clr-primary-600: 332 93% 45%;
    --clr-primary-700: 333 93% 35%;
    --clr-primary-800: 332 94% 25%;
    --clr-primary-900: 332 95% 15%;

    --clr-secondary-500: 273 68% 60%;
    --clr-secondary-600: 273 68% 50%;
    --clr-secondary-700: 273 68% 40%;
    --clr-secondary-800: 273 67% 30%;
    --clr-secondary-900: 273 69% 20%;

    --clr-accent-500: 183 76% 60%;
    --clr-accent-600: 183 76% 50%;
    --clr-accent-700: 183 76% 40%;
    --clr-accent-800: 184 76% 30%;
    --clr-accent-900: 183 76% 20%;

    --clr-success-500: 142 71% 45%;
    --clr-success-600: 142 71% 29%;

    --clr-error-500: 0 84% 60%;
    --clr-error-600: 0 55% 39%;

    --clr-darkPurple: 262 100% 8%;

    --bg-gradient: radial-gradient(
      hsl(var(--clr-neutral-900)),
      hsl(var(--clr-darkPurple))
    );
  }
}

@layer base {
  body {
    @apply text-neutral-100;

    background-image: var(--bg-gradient);

    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    min-height: 100vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.home-bg {
  background-image: url("/bg.jpeg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.header-scroll {
  transition: 500ms;
  background: hsl(var(--clr-darkPurple) / 0.7);
  backdrop-filter: blur(10px);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--clr-secondary-500));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--clr-secondary-500) / 0.5);
}

/* Navbar */

.header-nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 1.75em;
}

li {
  width: fit-content;
}

.header-nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  color: hsl(var(--clr-neutral-100));
}

@media (max-width: 768px) {
  .header-nav ul li a {
    font-size: 1rem;
  }
}

.header-nav ul li a.active:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  border-bottom: 2px solid hsl(var(--clr-primary-500));
  bottom: -6px;
}

.header-nav ul li a:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  border-bottom: 2px solid hsl(var(--clr-primary-500));
  bottom: -6px;
  transition: width 0.3s;
}

.header-nav ul li a:hover:before {
  width: 100%;
}

/*Card Animation */

.card-animation {
  background-size: 100%;
  transition: background-size 0.3s;
}

.card-animation:hover {
  background-size: 110%;
}
